* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.timer {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.quote-display {
  margin-bottom: 20px;
}

.quote-input {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.results-container {
  text-align: center;
}

.results-container h1 {
  margin-bottom: 20px;
}

#dashboard p {
  margin: 10px 0;
}

#restart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart-button:hover {
  background-color: #0056b3;
}
